.DS_Store
.idea/
cmake-build-debug/
cmake-build-release/

thirdparty/cereal
thirdparty/ceres
thirdparty/easy_profiler
thirdparty/eigen
thirdparty/gtest
thirdparty/imgui
thirdparty/opencv
thirdparty/pangolin
thirdparty/spdlog
thirdparty/DBoW2/build/
thirdparty/DBoW2/lib/
thirdparty/g2o/build/
thirdparty/g2o/config.h
thirdparty/g2o/lib/

test_profile.prof

ORB_SLAM2

examples/Monocular/mono_euroc
examples/Monocular/mono_kitti
examples/Monocular/mono_tum
examples/RGB-D/rgbd_tum
examples/ROS/ORB_SLAM2/CMakeLists.txt.user
examples/ROS/ORB_SLAM2/Mono
examples/ROS/ORB_SLAM2/MonoAR
examples/ROS/ORB_SLAM2/RGBD
examples/ROS/ORB_SLAM2/Stereo
examples/ROS/ORB_SLAM2/build/
examples/Stereo/stereo_euroc
examples/Stereo/stereo_kitti
KeyFrameTrajectory.txt


Vocabulary/ORBvoc.txt
